.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Local machine config: mỗi người có path dữ liệu riêng
config/config.yaml

# Raw/processed data không push lên Git
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.csv
*.zip
*.npz

# Results
# Kết quả nhỏ được phép push
results/**/*.npz
results/**/*.pkl
results/**/*.joblib

# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

cpp/build/